# General cache/temp/artifacts
terraform.tfvars
.terraform/
.terraform.lock.hcl

*.bak
*.swp
*.swo
*.tmp 
*.log
*.lock

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Infrastructure 
terraform.tfstate
terraform.tfstate.backup
terraform_*.zip
*.vars
*.key
*.pub
*.pem

# Project runtime/env
.env*
.envrc
.docker*
docker-compose.yml

# Scripts
*.sh
*.bak
*.tmp
*.log
*.lock